* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #232323;
  box-sizing: border-box;
}

ul  {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#adaptive {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.menu .sectionn {
  background-image: url(./img/Rectangle.png);
}
.menu .sectionn header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.menu .sectionn header .logo p {
  padding: 5px 0;
}
.menu .sectionn header .nav form {
  display: flex;
  align-items: center;
}
.menu .sectionn header .nav form input[type="text"] {
  width: 520px;
  height: 44px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #cacaca;
  background-color: #ffffff;
  padding: 0 20px;
  outline: none;
  font-size: 16px;
}
.menu .sectionn header .nav form input[type="text"]::-moz-placeholder {
  color: #b4b4b4;
}
.menu .sectionn header .nav form input[type="text"]::placeholder {
  color: #b4b4b4;
}
.menu .sectionn header .nav form button {
  height: 44px;
  width: 119px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  background-color: #3e7850;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s all;
}
.menu .sectionn header .nav form button:hover {
  background-color: #232323;
}
.menu .sectionn header .nav .search-text p {
  color: #b4b4b4;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}
.menu .sectionn header .nav .search-text p span {
  color: #0060b8;
  text-decoration: underline;
}
.menu .sectionn header .us {
  text-align: right;
}
.menu .sectionn header .us p {
  font-size: 14px;
  line-height: 16.41px;
  color: #686868;
  padding: 4px 0;
}
.menu .sectionn header .us p + a p {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  color: #232323;
}
.menu .sectionn header .us a p i {
  color: #3e7850;
  padding-right: 15px;
  font-size: 22px;
}
.menu .sectionn header .us p.email-p {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  color: #232323;
}
.menu .head11 nav.menu {
  border-bottom: 1px solid #e5e5e5;
}
.menu .head11 nav.menu ul  {
  display: flex;
  align-items: center;
}
.menu .head11 nav.menu ul  li {
  padding-left: 40px;
  cursor: pointer;
}
.menu .head11 nav.menu ul  li a {
  color: #232323;
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 300;
}
.menu .head11 nav.menu ul  .fixed {
  color: #3e7850;
  font-weight: 500;
  border-bottom: 3px solid #3e7850;
  padding: 15px 30px;
}
.menu .head11 nav.menu ul  .fixed a {
  color: #3e7850;
  font-weight: 500;
}
.menu .head11 nav.menu ul  li:hover a {
  border-bottom: 3px solid #3e7850;
  padding: 15px 0;
  color: #3e7850;
}
.menu .main {
  background-image: url(./img/bg-fullscreen.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 76.5vh;
}
.menu .main .screen {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu
  .main
  .screen
  .text11 {
  width: 45%;
}
.menu
  .main
  .screen
  .text11
  p {
  padding: 15px 0;
}
.menu
  .main
  .screen
  .text11
  p.color-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #3e7850;
}
.menu
  .main
  .screen
  .text11
  h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  color: #232323;
}
.menu
  .main
  .screen
  .text11
  p.width-p {
  width: 74%;
  color: #232323;
  line-height: 28px;
}
.menu
  .main
  .screen
  .text11
  a
  p {
  padding: 25px 0;
  color: #0060b8;
  display: inline-flex;
  align-items: center;
}
.menu
  .main
  .screen
  .text11
  a
  p
  i {
  padding-left: 15px;
  color: #0060b8;
}
.menu
  .main
  .screen
  .imege11 {
  width: 40%;
}
.menu .main .slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 100px;
}
.menu .main .slide .line {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #2d4936;
  margin-left: 5px;
  cursor: pointer;
}
.menu .main .slide .fixed {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}
.menu .main .slide .line:hover {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #ffffff;
}

section.sec11 .wolk {
  background-color: #f7f7f7;
  padding: 60px 0;
}
section.sec11 .wolk h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}
section.sec11 .wolk .line {
  height: 4px;
  width: 82px;
  background-color: #3e7850;
  margin: 0 auto;
  text-align: center;
}
section.sec11 .wolk .width {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.sec11 .wolk .width .post {
  background-color: #ffffff;
  height: 340px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.0509803922);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 0 20px;
  cursor: pointer;
  transition: 0.2s all;
  margin-top: 30px;
}
section.sec11
  .wolk
  .width
  .post
  .text11
  p {
  font-size: 20px;
  line-height: 23.44px;
  font-weight: 400;
}
section.sec11
  .wolk
  .width
  .post
  .imege11 {
  padding: 0;
  margin: 0;
  display: flex;
}
section.sec11
  .wolk
  .width
  .post:hover
  .text11
  p {
  color: #3e7850;
  border-bottom: 2px solid #3e7850;
  display: inline;
  padding: 10px 0;
}
section.sec11 .wolk .width .post:hover {
  margin-top: 20px;
  box-shadow: 0 0 12px rgba(130, 136, 148, 0.2509803922);
}

.pro {
  background-image: url(./img/bg-content.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pro .drink {
  background-color: #000;
  opacity: 80%;
}
.pro .drink .post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.pro .drink .post .post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 18%;
}
.pro .drink .post .post p {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 400;
  padding: 20px 0;
}
.pro
  .drink
  .post
  .post
  #list-slide-post {
  display: none;
}

section.feed .back {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 100px 0;
}
section.feed
  .back
  .back-text
  p:nth-child(even) {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  padding-top: 25px;
}
section.feed
  .back
  .back-text
  p:nth-child(odd) {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  padding-top: 5px;
}
section.feed .back .back-text h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  position: relative;
  padding-bottom: 15px;
}
section.feed .back .back-text h3:before {
  content: "";
  height: 4px;
  width: 82px;
  background-color: #3e7850;
  position: absolute;
  bottom: 0;
}
section.feed .back .back-text p.mt-p {
  padding-top: 50px;
}
section.feed .back .submit form {
  display: flex;
  flex-direction: column;
}
section.feed
  .back
  .submit
  form
  input:nth-child(1),
section.feed
  .back
  .submit
  form
  input:nth-child(2),
section.feed
  .back
  .submit
  form
  input:nth-child(3) {
  width: 485px;
  height: 48px;
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #cacaca;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  outline: none;
}
section.feed
  .back
  .submit
  form
  input:nth-child(3) {
  height: 208px;
}
section.feed
  .back
  .submit
  form
  input::-moz-placeholder {
  color: #b4b4b4;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
}
section.feed
  .back
  .submit
  form
  input::placeholder {
  color: #b4b4b4;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
}
section.feed .back .submit form input:focus {
  border: 1px solid #0060b8;
}
section.feed
  .back
  .submit
  form
  .sol {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 30px;
}
section.feed
  .back
  .submit
  form
  .sol
  input {
  padding: 0;
  margin: 0;
  margin-left: 30px;
}
section.feed
  .back
  .submit
  form
  .sol
  input[type="checkbox"] {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
}
section.feed
  .back
  .submit
  form
  .sol
  p {
  padding: 0;
  margin: 0;
  padding-left: 11px;
  width: 43%;
}
section.feed
  .back
  .submit
  form
  .sol
  input[type="submit"] {
  width: 160px;
  height: 44px;
  border-radius: 3px;
  background-color: #3e7850;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s all;
}
section.feed
  .back
  .submit
  form
  .sol
  input[type="submit"]:hover {
  background-color: #232323;
}

footer.section-footer .foll {
  background-color: #232323;
}
footer.section-footer .foll .fiill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer.section-footer .foll .fiill ul  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
footer.section-footer .foll .fiill ul  .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer.section-footer .foll .fiill ul  .logo p {
  color: #ffffff;
  font-weight: 400;
  font-size: 8px;
  line-height: 9.38px;
}
footer.section-footer .foll .fiill ul  li {
  margin-left: 60px;
}
footer.section-footer .foll .fiill ul  li a {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
}
footer.section-footer .foll .fiill p {
  color: #ffffff;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 300;
}

@media (min-width: 390px) and (max-width: 767px) {
  .sectionn header {
    height: 46px;
  }
  .sectionn header .logo img {
    width: 74px;
    height: 30px;
  }
  .sectionn header .logo p {
    display: none;
  }
  .sectionn header .us {
    display: none;
  }
  .sectionn header .nav {
    display: none;
  }
  .sectionn header #adaptive {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sectionn header #adaptive i {
    color: #3e7850;
    font-size: 25px;
  }
  .sectionn header #adaptive .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #686868;
    height: 60px;
    width: 60px;
    margin-left: 20px;
  }
  .sectionn header #adaptive .toggle i {
    font-size: 25px;
    color: #ffffff;
  }
  .head11 li {
    display: none;
  }
  .head11 #adaptive {
    display: flex;
    padding: 20px;
  }
  .head11 #adaptive input {
    height: 44px;
    width: 287px;
  }
  .head11 #adaptive input[type="text"] {
    width: 520px;
    height: 44px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #cacaca;
    background-color: #ffffff;
    padding: 0 20px;
    outline: none;
    font-size: 16px;
  }
  .head11 #adaptive input[type="text"]::-moz-placeholder {
    color: #b4b4b4;
  }
  .head11 #adaptive input[type="text"]::placeholder {
    color: #b4b4b4;
  }
  .head11 #adaptive button {
    height: 44px;
    width: 119px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    background-color: #3e7850;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s all;
  }
  .head11 #adaptive button i {
    color: #ffffff;
    font-size: 23px;
  }
  .head11 #adaptive button:hover {
    background-color: #232323;
  }
  #adap-bg {
    background-image: url(./img/bg-adaptive.png);
    width: 100%;
    height: 62vh;
  }
  #adap-bg .screen {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #adap-bg .screen .text11 {
    width: 100%;
  }
  #adap-bg .screen .text11 p.color-p {
    font-size: 14px;
    line-height: 28px;
    padding: 10px 0;
  }
  #adap-bg .screen .text11 h1 {
    width: 70%;
    font-size: 20px;
    line-height: 23.44px;
    padding: 0;
  }
  #adap-bg .screen .text11 a p {
    font-size: 16px;
    padding: 10px 0 20px 0;
  }
  #adap-bg .screen .text11 p.width-p {
    display: none;
  }
  #adap-bg .screen .imege11 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #adap-bg .screen .imege11 img {
    width: 228px;
    height: 265px;
  }
  .slide {
    margin-top: -40px;
  }
  section.sec11 .wolk {
    padding: 60 0 0 0;
  }
  section.sec11 .wolk h2 {
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700;
  }
  section.sec11 .width #post-adap {
    height: 218px;
    width: 48%;
    padding: 10px 0 0 20px;
    margin-left: 0;
  }
  section.sec11 .width #post-adap .imege11 img {
    width: 100%;
  }
  section.sec11 .width #post-adap:hover .text11 p {
    color: #3e7850;
    border-bottom: none;
    display: block;
    padding: 0;
  }
  section.sec11 .width .post:hover {
    margin-top: 0;
    box-shadow: none;
  }
  #adap-products {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #adap-products #post-none {
    display: none;
  }
  #adap-products #show-post {
    width: 100%;
  }
  #adap-products #show-post p {
    width: 60%;
  }
  #adap-products #show-post #list-slide-post {
    display: flex;
  }
  #adap-products #show-post #list-slide-post .list {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #686868;
    margin-left: 10px;
    cursor: pointer;
  }
  #adap-products #show-post #list-slide-post .list:nth-child(2) {
    background-color: #ffffff;
  }
  #adap-products #show-post #list-slide-post .list:hover {
    background-color: #ffffff;
  }
  .back {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .back h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back .submit form input#mt-placeholder {
    width: 347px;
    margin-left: 10px;
  }
  .back .submit form input#adap-input {
    width: 347px;
    margin-left: 10px;
  }
  .back .submit form .sol {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .back .submit form .sol input#check {
    margin-bottom: -15px;
    margin-left: 30px;
  }
  .back .submit form .sol p#wd-p {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .back
    .submit
    form
    .sol
    input#btn-adap {
    margin-left: 30px;
    margin-top: 20px;
    width: 296px;
  }
  .fiill {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 40px 0 60px 0;
  }
  .fiill ul #adap-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  .fiill ul #adap-footer .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .fiill ul #adap-footer .logo p {
    display: none;
  }
  .fiill ul #adap-footer li a:nth-child(1) {
    margin-left: -60px;
  }
  .fiill ul #adap-footer li {
    margin-bottom: 20px;
  }
  .fiill ul #adap-footer li a {
    font-size: 16px;
  }
  .fiill ul #adap-footer li#adap {
    display: none;
  }
}
